{# src/OC/PlatformBundle/Resources/views/Advert/plateau.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur LoveLetter !</title>
  </head>
  <body>
    <h1 align="middle" >Plateau de jeu</h1>
		
		<div id="joueur2" align="middle">
			PLAYER 2
			<br>
		</div>
		<div style="background-image: url({{ asset(plateau) }}); float:center ; background-size: cover ; margin-right:100px; margin-left:100px">


			<img src="{{ asset(first) }}" align="center" height = 200  width = 150 alt="first" style="margin-top: 200px ; margin-bottom: 200px;"/>
			<img src="{{ asset(second) }}" align="center" height = 200  width = 150 alt="second" style="margin-top: 200px; margin-bottom: 200px;"/>
			<img src="{{ asset(trois) }}" align="center" height = 200  width = 150 alt="trois" style="margin-top: 200px; margin-bottom: 200px;"/>

			<img src="{{ asset(verso) }}" align="center" height = 200  width = 150 alt="verso" style="margin-top: 200px; margin-bottom: 200px; float:right;" onclick="tirerCarte()"/>
			<input type="image" value="Endtour" style="vertical-align: bottom;" src = "/LoveLetterv3/LoveLetter/web/img/end.png"  onclick="findutour()" />
		</div>

		<div id = "joueur1" align="middle"> 
			PLAYER 1
			<br>
		</div>
		
		
		{% set pioche = 3 %}
		
		
		{% block javascripts %}
		
		
		<script src="/LoveLetterv3/LoveLetter/web/jquery-3_2_1.js"></script>
		<script>
						
						
				/*document.getElementById('joueur1').innerHTML += '<img src="'+n[3]+'" width="150" height="200" />';
				document.getElementById('joueur2').innerHTML += '<img src="'+n[4]+'" width="150" height="200" />';*/
				
				i = 1;
				pioche = 5;
				piocher = false;
				
				
				alert( "test" );
				
		
				function tirerCarte(){
				
				
					if (pioche <= 15)  {
				
						var n = [];
						 {% for item1 in deck %}
							n.push( "{{ item1 }}" );
						{% endfor %}
				
					//var po = "/LoveLetterv3/LoveLetter/web/"+n[pioche];
					
					//alert( n[pioche] );
					
					//alert ( po );
					
						if (i%2 == 0 && !piocher) {
							document.getElementById('joueur1').innerHTML += '<img src="'+n[pioche]+'" width="150" height="200" />';
							
										manche = {{ id_manche }};
										$.ajax( {
										   url : 'carteController.php',
										   type : 'POST',
										   data : 	'nom_carte=' + nom[pioche] + '&idjoueur='+ 1 + '&id_manche=' + manche,
										   success : function(code_html, statut){
											   alert("youpi"); // On passe code_html à jQuery() qui va nous créer l'arbre DOM !
										   },
										   error : function(resultat, statut, erreur){
										   },
										   complete : function(resultat, statut){
										   alert( "reussi");
										   }

										});
						} 
						if (i%2 == 1 && !piocher) {
							document.getElementById('joueur2').innerHTML += '<img src="'+n[pioche]+'" width="150" height="200" />';
						
						}
						piocher = true;
					pioche++;
				
					}
				};
			
			
			function findutour(){
				i++;
				piocher = false;
			};
			
			
		</script>
		
		{% endblock %}
  </body>
</html>
